* {
    font-family: Georgia, Arial, 'Times New Roman';
    font-size: 1rem;
    margin: 0;
    padding: 0;
}
header {
    border-top: 25px solid darkgreen;
    text-align: center;
}
h1 { 
    font-family: Times, serif;
    font-size: 4rem;
    background-image: linear-gradient(to right, white, white, darkgreen);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #000;
    background-size: 40% 100%;
    background-position: top left;
    transition: background-position 3s ease-in-out;
}
h1:hover {
    background-position: top left 100%;
}
h2 {
    font-size: 2rem;
    text-align: center;
    padding: 15px;
    border: 1px solid #000;
}
nav {
    background-color: darkgreen;
    height: 25px;
    vertical-align: center;
}
ul {
    list-style-type: none;
}
nav ul li {
    display: inline-block;
    padding: 0 2rem;
    text-align: center;
    border-right: 1px solid #fff;
    vertical-align: middle;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}
nav ul li a:hover { 
    opacity: 1;
}
.hidden {
    display: none;
}

.static_menu {
    color: #fff;
    border: none;
}
main {
    padding: 1rem;
}

article {
    width: 45%;
    height: 90vh;
    margin: 0 auto;
}
iframe {
    width: 100%;
    height: 100%;
    border: none;
}
#logo {
    width: 50%;
    margin: 0 auto;
}
#logo img {
    width: 100%;
}
.product {
    display: grid;
    grid-template-rows: repeat(7, auto);
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    color: green;
}
.product img {
    width: 50%;
}
.product h5 {
    font-size: 1.2rem;
}
#orders {
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: auto 1fr 1fr;
    grid-gap: 1.5rem;
    font-size: 1.5rem;
}
#orders h4 {
    color: darkgreen;
}
select, input[type="text"] {
    background-color: darkgreen;
    color: lightgreen;
    padding: 5px 0;
}
input[type="text"] {
    text-align: right;
    width: 100%;
    box-sizing: border-box;
}
button {
    width: 100%;
    border: 2px solid darkgreen;
    background-color: #fff;
    color: darkgreen;
    padding: 5px;
}